.no-resize {
    resize: none;
    height: 160px;
}

.transparent-card {
    background-color: rgba(255, 255, 255, .6);
}

.invalid-input-with-value {
    border: 1px solid red;
}

.mr-8 {
    margin: 0 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.direction-right {
    justify-content: right;
}


