.app-root {
  height: 100%;
  display: flex;  
  flex-direction: column;  
}

.sidebar > .list-group > :first-child {
  border-radius: 0;
}

.list-group-item {
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis; 
  display: flex; 
  align-items: center;
  border: none;
  background-color: var(--bs-dark-rgb);
  cursor: pointer;
  border-radius: 4px;
}

.list-group-item.active {
  background: rgb(var(--bs-secondary-rgb));
}

.list-group-item:hover {
  background: rgb(var(--bs-secondary-rgb));
  border-radius: 4px;
}

.list-group-item > span {
  color: #fff;
}

.menu-icon {
  font-size: 20px;
}

.main-content {
  height: 100%;
  display: flex;
  margin: 80px 20px 0 100px ;
  justify-content: center;
}

.app-sent-list {
  width: 100%;
}