<div class="app-root">
  <p-toolbar styleClass="bg-dark toolbar">
    <div class="p-toolbar-group-left">
      <span class="navbar-brand text-white">A-mail</span>
    </div>
  </p-toolbar>
  
  <p-sidebar
    [visible]="true"
    [baseZIndex]="1000"
    [showCloseIcon]="false"
    styleClass="bg-dark sidebar"
  >
    <ul class="list-group">
      <li class="list-group-item bg-primary" (click)="openModal()">
        <span>
          <i class="fa-solid fa-feather menu-icon"></i>
        </span>
        <span class="px-3 text-white">Compose</span>
      </li>
      <ng-container *ngFor="let item of sidebarItems">
        <li class="list-group-item" 
            [ngClass]="item.active ? 'bg-secondary' : ''" 
            (click)="item.action()">
          <span><i [class]="item.icon"></i></span>
          <span class="px-3 text-white">{{ item.label }}</span>
        </li>
      </ng-container>
    </ul>
  </p-sidebar>
  
  <div class="main-content">
    <app-sent-list [emailDataList]="emailDataList" class="app-sent-list"></app-sent-list>
  </div>
  <p-toast></p-toast>
</div>