<div class="app-root">
  <p-toolbar styleClass="bg-dark toolbar">
    <div class="p-toolbar-group-left">
      <span class="navbar-brand text-white">A-mail</span>
    </div>
  </p-toolbar>
  
  <p-sidebar
    [visible]="true"
    [baseZIndex]="1000"
    [showCloseIcon]="false"
    styleClass="bg-dark sidebar"
  >
    <ul class="list-group">
      <li class="list-group-item bg-primary" (click)="openModal()">
        <span>
          <i class="fa-solid fa-feather menu-icon"></i>
        </span>
        <span class="px-3 text-white">Compose</span>
      </li>
      <ng-container *ngFor="let item of sidebarItems">
        <li class="list-group-item" 
            [ngClass]="item.active ? 'bg-secondary' : ''" 
            (click)="item.action()">
          <span><i [class]="item.icon"></i></span>
          <span class="px-3 text-white">{{ item.label }}</span>
        </li>
      </ng-container>
    </ul>
  </p-sidebar>
  
  <div class="main-content">
    <p-card class="main-content-card">
      <ng-template pTemplate="header">
        <div class="d-flex justify-content-between align-items-center card-header">
          <h4 class="px-3">Sent List</h4>
          <input type="text" pInputText [(ngModel)]="searchValue" />
        </div>
      </ng-template>
      <app-sent-list [emailDataList]="emailDataList" [searchTerm]="searchValue"></app-sent-list>
    </p-card>
  </div>
  <p-toast></p-toast>
</div>