/* You can add global styles to this file, and also import other style files */
body {
    background: url("/unnamed.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

html {
    height: 100%;
}

h4 {
    margin: 0;
}

.toolbar {
    position: fixed !important; 
    width: 100%;
    border-radius: 0;
 }

.sidebar {
    width: 84px;
    transition: width 0.3s ease; 
    top: 48px;
    position: fixed;
    border: none;
}

.sidebar:hover {
    width: 200px !important; 
}

.p-sidebar-mask {
    display: none !important; 
}

.detail-page {
    width: 500px;
}